In [23]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import unicodedata
import random

fake = Faker('es_ES')

In [24]:
df = pd.DataFrame()

In [25]:
df['cliente_id'] = range(1, 100001)

In [26]:
df['nombre_cliente'] = [unicodedata.normalize('NFKD', fake.first_name()).encode('ascii', 'ignore').decode('utf-8') for _ in range(len(df))]

In [27]:
df['apellido_cliente'] = [unicodedata.normalize('NFKD', fake.last_name()).encode('ascii', 'ignore').decode('utf-8') for _ in range(len(df))]

In [28]:
df['dni_cliente'] = [str(fake.nif()) for _ in range(len(df))]

In [29]:
df['email_cliente'] = [fake.ascii_email() for _ in range(len(df))]

In [30]:
beta_values = np.random.beta(2, 5)
edad_minima = 15
edad_maxima = 90
df['edad_cliente'] = round(beta_values * (edad_maxima- edad_minima) + edad_minima)

In [31]:
proporcion_hombres = 0.49
proporcion_mujeres = 1 - proporcion_hombres
df['genero_cliente'] = np.random.choice(['Hombre', 'Mujer'], p=[proporcion_hombres, proporcion_mujeres], size=len(df))

In [32]:
df.head()

,cliente_id,nombre_cliente,apellido_cliente,dni_cliente,email_cliente,edad_cliente,genero_cliente
0,1,Tamara,Giner,32235730B,belengarrido@hotmail.com,25,Hombre
1,2,Oriana,Pages,10284200A,mgarcia@yahoo.com,25,Hombre
2,3,Americo,Acevedo,70241924Q,adelardo24@hotmail.com,25,Mujer
3,4,Fortunato,Criado,92273805J,calixtasegovia@hotmail.com,25,Hombre
4,5,Maximiliano,Matas,13456635W,rjorda@fabrica.com,25,Hombre

In [33]:
from google.cloud import bigquery

client = bigquery.Client()

df.to_gbq('BBDD.tabla_clientes', project_id='dataproject-2-413010', if_exists='replace')